.login-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .button-container {
        width: 405.76px;
        color: black;
    }
}

.img-logo{
    width: 400px;
    padding: 30px;
}

@media (max-width: 768px) {
    .img-logo{
        width: 300px;
    }
}